################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VSProject/BinaryTranslator/.vs/BinaryTranslator/v16/Browse.VC.opendb
